<!------- Banner -------->

<div class="header card">
    <div class="card-image">
        <img src="assets/Cerveceria/Header.png" alt="">
    </div>
    <div class="card-title">
        <span><span>"</span>Aqui hacemos cervezas ricas<span>"</span></span>
    </div>
</div>

<!------- Historia -------->

<div class="row historia">
    <div class="titulo col s5 col-5">
        <h1>Historia</h1>
    </div>
    <div class="texto col s7 col-7">
        <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Massa integer sodales vitae ac id diam arcu. 
        Sed pellentesque dictum nibh aliquam turpis maecenas. Nec
        neque tincidunt tempor quis pellentesque euismod varius. 
        Adipiscing magna dolor quam fusce sed.</p> 
    </div>
</div>

<!------- Mision-Vision-Valores -------->

<div class="row m-v-v" >
    <div class="col s4 col-4 Mision">
        <h1>Misión</h1>
        <p>Producir lotes pequeños de cerveza experimental y de
        excelente calidad manteniendo al conocedor de cerveza 
        intrigado utilizando técnicas e insumos diversos a lo que 
        están acostumbrado.
        </p>
    </div>
    <div class="col s4 col-4 Vision">
        <h1>Visión</h1>
        <p>Formar un equipo de personas comprometidas en hacer 
            excelentes cervezas y ser el destino local para 
            satisfacer la sed de los conocedores de cerveza 
            creando un ambiente memorable al que deseen regresar.
        </p>
    </div>
    <div class="col s4 col-4 Valores">
        <h1>Valores</h1>
        <ul>
            <li>Siempre ofrecer algo diferente</li>
            <li>Ser creativos</li>
            <li>Calidad sobre costo</li>
            <li>Nunca dejar de aprender</li>
            <li>Ser innovadores</li>
            <li>Mejorar la comunidad</li>
        </ul>
    </div>
</div>

<!------- About Us -------->

<div class="row about">
    <div class="texto col s6 col-6">
        <h1>¿Quiénes somos?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Massa integer sodales vitae ac id diam arcu. 
        Sed pellentesque dictum nibh aliquam turpis maecenas. Nec
        neque tincidunt tempor quis pellentesque euismod varius. 
        Adipiscing magna dolor quam fusce sed.</p>
    </div>
    <div class="frame col s6 col-6">
        <img src="assets/Cerveceria/about.jpg" alt="">
    </div>
</div>

<!------- Proceso -------->

<div class="row proceso">
    <div class="frame col s6 col-6">
        <img src="assets/Cerveceria/process.jpg" alt="">
    </div>
    <div class="texto col s6 col-6">
        <h1>Nuestro proceso</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Massa integer sodales vitae ac id diam arcu. Sed 
        pellentesque dictum nibh aliquam turpis maecenas. Nec 
        neque tincidunt tempor quis pellentesque euismod varius. 
        Adipiscing magna dolor quam fusce sed.</p>
    </div>
</div>
