* {
    font-family: 'Poppins';
}

/******** Button Universal ********/

#flecha {
    width: 25px !important;
    height: 25px !important;
    float: right;
    vertical-align: middle;

}

.btn {
    transition-duration: 0.2s;
	background: #EBEEF5;
	color: #8185A6;
    line-height: 0;
	transition: all 100ms ease-in;
	cursor: pointer;
    font-size: 18px;
    width: 80%;
    height: 65px;
    text-align: inherit;
    margin: 5px 0;
    padding: 1% 30px 0;
    text-transform: none;
    box-shadow: 0 0 0 0;
}

.btn .row {
    margin: 0;
    padding: 0;
}

.btn div {
    margin: 0;
    padding: 0;
}

.btn p {
    margin: 0;
    padding: 10px 0;
}

.btn path {
    fill: #00B15B;
}

.btn:active {
    background: #00B15B;
    color: white;
}

.btn:active path {
    fill: white;
}

.btn:hover {
    background: #00B15B;
    color: white;
}

.btn:hover path {
    fill: white;
}


.btn svg {
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0 40px 0 15px;
    line-height: 0;
}

/******** Titulos ********/

h1 {
    font-size: 36px;
    color: #00B15B;
    font-weight: bold;
    text-align: left;
    margin: 120px 0 0 5%;
    width: ;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins';
}

h3 {
    font-size: 16px;
    font-weight: normal;
    color: #8185A6;
    text-align: left;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    color: white;
    font-family: 'Poppins';
}

/******** Information Section ********/

.interactionSection {
    margin: 8% 0;
}

.interactionSection .horarioSection,.redesSection,.interactionSection{
    text-align: center;
}

/******** Información ********/

.horario {
    color: #8185A6;
    background: #EBEEF5;
    height: 200px;
    box-shadow: 0 0 0 0;
    width: 80%;
    padding: 20px 0;
    margin: 5px 10%;
}

.horario p {
    text-align: left;
    padding:0 10%;
}

/******** Location Info ********/


.locationInfo {
    margin: 0;
}

/******** Panel Derecho ********/

.map {
    width: auto;
    padding: 0;
    margin: 0;
    height: 550px;
}

.map iframe {
    width:100%;
    height: 100%;
}

.mapInfo {
    background-color: #00B15B;
    padding: 8% 8% 8% 10%;
    margin: 0;
    height: 550px;
}

.mapInfo p,h2,h4{
    color: white;
    text-align: left;
    margin: 0;
}

.mapInfo h2{
    padding: 55px 0 55px 0;
}

.mapInfo h4{
    padding: 0 0 35px 0;
}

.mapInfo p{
    font-size: 14px;
}