<div class="productList">
    <h1>Cervezas</h1>

    <div>
        <a routerLink="/product"><app-modulo-producto></app-modulo-producto></a>
        <a routerLink="/product"><app-modulo-producto></app-modulo-producto></a>
        <a routerLink="/product"><app-modulo-producto></app-modulo-producto></a>    
    </div>

    <div>
        <a routerLink="/product"><app-modulo-producto></app-modulo-producto></a>
        <a routerLink="/product"><app-modulo-producto></app-modulo-producto></a>
        <a routerLink="/product"><app-modulo-producto></app-modulo-producto></a>
    </div>
</div>