 .productList {
    padding: 0 10px;
    text-align: center;
}

.productList h1 {
    font-size: 48px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #3FC383;
    margin: 100px 0 165px
}