
*{
    color: #8185A6;
    font-size: 14px;
}
.map{
    padding: 30px 0 30px 10%;
    text-align: center;
}

.contact {
    padding-top: 20px;
}
.footer{
    background-color: #EBEEF5;
    width: 100%;
    padding: 30px 10%;
    margin-bottom: 0;
}
.contact-link svg{
    width: 18px;
}
#logo{
    margin: 10%;
}
.cr p{
    margin: 15px 0;
}
h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 23px;
}

#copyright{
    font-size: 12px;
    margin: 0;
}
.cr{
    background-color: white;
    float: left;
    height: 40px;
    padding-left: 5%;
    width: 100%;
    margin-top: 10px;
}
.green{
    color: mediumseagreen!important;
}
form{
    display:inherit !important;
    float: none;
}

input{
	background: none;
	border: 1px solid #8185A6;
    border-radius:20px;
	padding: 15px;
    text-align-last: left;
}

textarea:focus, input:focus{
    outline: none;
}
.btn {
    transition-duration: 0.4s;
    font-weight: bold;
	background: #FFD600;
	color: #323546;
	border: 0;
	outline: 0;
    border-radius:15px;
	transition: all 200ms ease-in;
	cursor: pointer;
    text-align: center;
}
.btn:active{
    background: #FFD600;
}
.btn:hover{
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.10), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.form_field {
	background: #fff;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
	border: 0;
	outline: 0;
}

a:hover{
    color:#FFD600;
}
