<!------- titulo -------->
<h1></h1>

<!------- Container Carrito -------->

<div class="carrito">

<!------- Panel Izquierdo -------->

    <div class="informacion">

        <div class="headerItemList">
            <h2></h2>
            <h2></h2>
            <h2></h2>
            <h2></h2>
        </div>

<!------- Panel Componentes -------->

        <div class="modulosCarrito">
            <app-modulo-carrito></app-modulo-carrito>
            <app-modulo-carrito></app-modulo-carrito>
            <app-modulo-carrito></app-modulo-carrito>
        </div>

<!------- secion subtotal -------->

        <div class="PriceSection">

            <div class="subtotalBox">
                <div class="tablaIzquierda">
                    <h5></h5>
                </div>
                <div class="tablaDerecha">
                    <h5></h5>
                </div>
            </div>

        </div>

    </div>

<!------- Panel Izquierdo -------->

    <div class="reciboBox">
        
<!------- Recibo -------->

        <div class="recibo">
            <h3></h3>
            <hr>

            <div class="detalles row">
                <div class="tablaIzquierda">
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                </div>
                <div class="tablaDerecha">
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                </div>
            </div>
            
            <div class="total row">
                <div class="tablaIzquierda">
                    <h5></h5>
                </div>
                <div class="tablaDerecha">
                    <h5></h5>
                </div>
            </div>
            <a routerLink="/pago"><button></button></a>
        </div>

    </div>

</div>