<!------- titulo -------->
<h1>Carrito</h1>

<!------- Container Carrito -------->

<div class="carrito">

        <div class="modulosCarrito">
            
<!------- Panel Izquierdo -------->

        <div class="informacion">

<!------- Informacion -------->

                <div class="headerItemList">
                    <div class="row">
                        
                        <h2 class="col s2 col-2"></h2>
                        <h2 class="col s2 col-2">Producto</h2>
                        <h2 class="col s2 col-2">Precio</h2>
                        <h2 class="col s2 col-2">Cantidad</h2>
                        <h2 class="col s2 col-2">Total</h2>
                        <h2 class="col s2 col-2"></h2>
                        
                    </div>
        
                    <hr> 
                </div>

<!------- Modulos Items -------->

            <app-modulo-carrito></app-modulo-carrito>
            <app-modulo-carrito></app-modulo-carrito>
            <app-modulo-carrito></app-modulo-carrito>

<!------- secion subtotal -------->

        <div class="PriceSection">

            <div class="subtotalBox">
                <div class="tablaIzquierda">
                    <h5>Subtotal</h5>
                </div>
                <div class="tablaDerecha">
                    <h5>$645.00</h5>
                </div>
            </div>

        </div>

        </div>

<!------- Panel Derecho -------->

<!------- Recibo -------->
    
        <div class="recibo">
            <div class="cajaTitulo">
                <h3>Detalles del pedido</h3>
                <hr>
            </div>

            <div class="detalles">
                <div class="tablaIzquierda">
                    <h4>Subtotal</h4>
                    <h4>Envio</h4>
                    <h4>IVA</h4>
                </div>
                <div class="tablaDerecha">
                    <h4>$645.00</h4>
                    <h4>$35.00</h4>
                    <h4>$52.00</h4>
                </div>
            </div>
            
            <div class="total">
                <div class="tablaIzquierda">
                    <h5>Total</h5>
                </div>
                <div class="tablaDerecha">
                    <h5>732</h5>
                </div>
            </div>
            <a routerLink="/pago"><button class="btn">Proceder al pago</button></a>
        </div>

    </div>
</div>