<!------- Banner -------->

<div class="header">
    <img src="assets/HomePage/Header-Img.jpg" alt="banner">
</div>

<!------- Promociones -------->

<div class="promociones">
    <h1>Lo Último de Malbicho</h1>
    <div>
        <app-modulo-promocion></app-modulo-promocion>
        <app-modulo-promocion></app-modulo-promocion> 
        <app-modulo-promocion></app-modulo-promocion> 
    </div>
    <div>
        <button type="button" class="btn" routerLink="/cervezas">Explorar más</button>
    </div>
</div>

<!------- Informacion -------->

<div class="row information-section">
    <div class="col s6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Massa integer sodales vitae ac id diam arcu. Sed 
        pellentesque dictum nibh aliquam turpis maecenas. Nec 
        neque tincidunt tempor quis pellentesque euismod varius. 
        Adipiscing magna dolor quam fusce sed.</p>
    </div>
    <div class="col s6">
        <img src="assets/HomePage/infoPage.jpg" alt="Beer">
    </div>
</div>

<!------- Caracteristicas -------->

<div class="row features">
    <div class="col s8">
        <img src="assets/HomePage/features.png" alt="features">
    </div>
</div>

<!------- Mercancia -------->

<div class="row merch">
    <div class="row">

        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="assets/HomePage/Ropa.jpg">
              <span class="card-title">Ropa</span>
            </div>
          </div>
        </div>

        <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="assets/HomePage/Ropa.jpg">
                <span class="card-title">Vasos</span>
              </div>
            </div>
          </div>

          <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="assets/HomePage/Ropa.jpg">
                <span class="card-title">Souveniers</span>
              </div>
            </div>
          </div>
      </div>
</div>

<div class="btnMerch">
    <button type="button" class="btn" routerLink="/cervezas">Catálogo</button>
</div>