<!------- Prodcut Container -------->

<div class="product row">

<!------- Left Panel -------->

    <div class="images col s6 col-6 row">
        <div class="product-gallery col s4 col-4">
            <div><img src="/assets/product/preview.jpg" alt=""></div>
            <div><img src="/assets/product/preview.jpg" alt=""></div>
            <div><img src="/assets/product/preview.jpg" alt=""></div>
            <div><img src="/assets/product/preview.jpg" alt=""></div>
            <div><img src="/assets/product/preview.jpg" alt=""></div>
            <div><img src="/assets/product/preview.jpg" alt=""></div>
            <div><img src="/assets/product/preview.jpg" alt=""></div>
        </div>
        <div class="product-img col s8 col-8">
            <img src="/assets/product/test.png" alt="">
        </div>
    </div>

<!------- Right Panel -------->

    <div class="information col s6 col-6">
        <h1>Andromeda</h1>
        <h2>Happy Blonde</h2>
        <h4>$69.420</h4>
        <h3>4.3% ABV</h3>
        <p>Colaboración entre Cervecería MalBicho y Pulsar Media. 
        Una constelación de la familia Perseo que debe su nombre 
        a una princesa de la mitología griega que fue castigada 
        por su enorme belleza.
        </p>
        <p><b>Características:</b> Hoppy blonde de aroma y sabor tropical.
        </p>
        <p><b>Lúpulos:</b> Citra y Galaxy.</p>
        <div class="counter">
            <button class="">-</button>
                <input class="" type="number">
            <button class="">+</button>
        </div>
        <div class="botones row">
            <button type="button" class="btn1 col s4 col-4 pull-s2">Comprar</button>
            <button type="button" class="btn2 col s4 col-4 pull-s2">Añadir a carrito</button>
        </div>
    </div>
</div>