

<!------- Prodcut Container -------->

<div class="product row">

<!------- Left Panel -------->

    <div class="images col s6 col-6 row">
        <div class="product-gallery col s4 col-4">
            <div><img src="{{product.imgPrincipal}}" alt=""></div>
            <div><img src="{{product.imgGaleria1}}" alt=""></div>
            <div><img src="{{product.imgGaleria2}}" alt=""></div>
            <div><img src="{{product.imgGaleria3}}" alt=""></div>

        </div>
        <div class="product-img col s8 col-8">
            <img src="{{product.imgPrincipal}}" alt="">
        </div>
    </div>

<!------- Right Panel -------->

    <div class="information col s6 col-6">
        <h1>{{product.nombre}}</h1>
        <h2>{{product.estilo}}</h2>
        <h4>${{product.precio}}</h4>
        <h3>{{product.contenidoAlcoholico}}</h3>
        <p>{{product.descripcion}}
        </p>
        <p><b>Características:</b> {{product.Caracteristicas}}
        </p>
        <p><b>lupulos:</b>{{product.lupulos}}</p>
        <div class="counter">
            <button  >-</button>
                <input  id="myInput" type="text" readonly value="1">
            <button class="button-count">+</button>
        </div>
        <div class="botones row">
            <button type="button" class="btn1 col s4 col-4 pull-s2">Comprar</button>
            <button type="button" class="btn2 col s4 col-4 pull-s2">Añadir a carrito</button>
        </div>
    </div>
</div>

